.elementor-23 .elementor-element.elementor-element-d9f2c96>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-d9f2c96:not(.elementor-motion-effects-element-type-background),
.elementor-23 .elementor-element.elementor-element-d9f2c96>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-d9f2c96>.elementor-background-overlay {
    background-image: url("https://i.imgur.com/Ez13LFV.png");
    opacity: 0.1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-d9f2c96 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -34px;
    margin-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-1d60ba8 img {
    /* width: 19%; */
}

.elementor-23 .elementor-element.elementor-element-1d60ba8>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-23 .elementor-element.elementor-element-3a8551e {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-3a8551e .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.elementor-23 .elementor-element.elementor-element-3a8551e>.elementor-widget-container {
    margin: 0px 0px 25px 0px;
    padding: 8px 200px 8px 200px;
}

.elementor-23 .elementor-element.elementor-element-6518eb5 {
    column-gap: 0px;
    text-align: center;
    color: #DBDBDB;
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
    line-height: 22px;
}

.elementor-23 .elementor-element.elementor-element-6518eb5>.elementor-widget-container {
    margin: 0px 0px 31px 0px;
    padding: 0px 130px 0px 130px;
}

.elementor-23 .elementor-element.elementor-element-d1f2368>.elementor-container {
    max-width: 874px;
}

.elementor-23 .elementor-element.elementor-element-d1f2368>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-607156a .elementor-button .elementor-align-icon-right {
    margin-left: 14px;
}

.elementor-23 .elementor-element.elementor-element-607156a .elementor-button .elementor-align-icon-left {
    margin-right: 14px;
}

.elementor-23 .elementor-element.elementor-element-607156a .elementor-button {
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
    fill: #000000;
    color: #000000;
    background-color: transparent;
    background-image: linear-gradient(82deg, #fccc4c 20%, #fc9c04 99%);
    border-radius: 30px 30px 30px 30px;
}

.elementor-23 .elementor-element.elementor-element-fff777d .elementor-icon-wrapper {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-fff777d .elementor-icon {
    font-size: 33px;
}

.elementor-23 .elementor-element.elementor-element-89d28e9 {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
}

.elementor-23 .elementor-element.elementor-element-8ae7691:not(.elementor-motion-effects-element-type-background),
.elementor-23 .elementor-element.elementor-element-8ae7691>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-8ae7691 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-8ae7691>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-4fb82c2 {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-4fb82c2 .elementor-heading-title {
    color: #F8F8F8;
    font-family: "Poppins", Sans-serif;
    font-weight: 300;
}

.elementor-23 .elementor-element.elementor-element-f0e87c5 .elementor-main-swiper {
    height: 502px;
    width: 100%;
}

.elementor-23 .elementor-element.elementor-element-f0e87c5.elementor-skin-slideshow .elementor-main-swiper {
    margin-bottom: 10px;
}

.elementor-23 .elementor-element.elementor-element-f0e87c5 .elementor-swiper-button {
    font-size: 20px;
}

.elementor-23 .elementor-element.elementor-element-b61ebc0>.elementor-container {
    max-width: 894px;
}

.elementor-23 .elementor-element.elementor-element-b61ebc0:not(.elementor-motion-effects-element-type-background),
.elementor-23 .elementor-element.elementor-element-b61ebc0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-b61ebc0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-b61ebc0>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-d2d6ae4 {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-d2d6ae4 .elementor-heading-title {
    color: #F8F8F8;
    font-family: "Poppins", Sans-serif;
    font-weight: 300;
}

.elementor-23 .elementor-element.elementor-element-8100b1a {
    text-align: justify;
    color: #ADADAD;
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
}

.elementor-23 .elementor-element.elementor-element-53d8791.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-53d8791.elementor-view-framed .elementor-icon,
.elementor-23 .elementor-element.elementor-element-53d8791.elementor-view-default .elementor-icon {
    fill: #FFFFFF;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-53d8791 {
    --icon-box-icon-margin: 25px;
}

.elementor-23 .elementor-element.elementor-element-53d8791 .elementor-icon {
    font-size: 60px;
}

.elementor-23 .elementor-element.elementor-element-53d8791 .elementor-icon i {
    transform: rotate(352deg);
}

.elementor-23 .elementor-element.elementor-element-53d8791 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-53d8791 .elementor-icon-box-title,
.elementor-23 .elementor-element.elementor-element-53d8791 .elementor-icon-box-title a {
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 800;
}

.elementor-23 .elementor-element.elementor-element-53d8791 .elementor-icon-box-description {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.elementor-23 .elementor-element.elementor-element-3745581.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-3745581.elementor-view-framed .elementor-icon,
.elementor-23 .elementor-element.elementor-element-3745581.elementor-view-default .elementor-icon {
    fill: #FFFFFF;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-3745581 {
    --icon-box-icon-margin: 25px;
}

.elementor-23 .elementor-element.elementor-element-3745581 .elementor-icon {
    font-size: 60px;
}

.elementor-23 .elementor-element.elementor-element-3745581 .elementor-icon i {
    transform: rotate(352deg);
}

.elementor-23 .elementor-element.elementor-element-3745581 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-3745581 .elementor-icon-box-title,
.elementor-23 .elementor-element.elementor-element-3745581 .elementor-icon-box-title a {
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 800;
}

.elementor-23 .elementor-element.elementor-element-3745581 .elementor-icon-box-description {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.elementor-23 .elementor-element.elementor-element-33e08d4 img {
    width: 88%;
}

.elementor-23 .elementor-element.elementor-element-56d347a:not(.elementor-motion-effects-element-type-background),
.elementor-23 .elementor-element.elementor-element-56d347a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-56d347a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-56d347a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-d7b8bcd {
    --iteration-count: infinite;
    --animation-duration: 1200ms;
    --dynamic-text-color: #DAA520;
}

.elementor-23 .elementor-element.elementor-element-d7b8bcd .elementor-headline {
    text-align: center;
    font-family: "Poppins", Sans-serif;
    font-size: 27px;
}

.elementor-23 .elementor-element.elementor-element-d7b8bcd .elementor-headline-dynamic-wrapper path {
    stroke: #DAA520;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.elementor-23 .elementor-element.elementor-element-d7b8bcd .elementor-headline-dynamic-wrapper svg {
    z-index: 2;
}

.elementor-23 .elementor-element.elementor-element-d7b8bcd .elementor-headline-dynamic-text {
    z-index: auto;
    font-family: "Poppins", Sans-serif;
}

.elementor-23 .elementor-element.elementor-element-d7b8bcd .elementor-headline-plain-text {
    color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-eee3154>.elementor-container {
    max-width: 913px;
}

.elementor-23 .elementor-element.elementor-element-eee3154>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-eee3154:not(.elementor-motion-effects-element-type-background),
.elementor-23 .elementor-element.elementor-element-eee3154>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-eee3154 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-eee3154>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-23 .elementor-element.elementor-element-a485c4e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-a485c4e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-ce3fdd8 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.elementor-23 .elementor-element.elementor-element-ce3fdd8>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-7d99504 .elementor-button .elementor-align-icon-right {
    margin-left: 17px;
}

.elementor-23 .elementor-element.elementor-element-7d99504 .elementor-button .elementor-align-icon-left {
    margin-right: 17px;
}

.elementor-23 .elementor-element.elementor-element-7d99504 .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #000000;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 1px 1px 21px 0px rgba(255, 255, 255, 0.5);
}

.elementor-23 .elementor-element.elementor-element-7d99504 .elementor-button:hover,
.elementor-23 .elementor-element.elementor-element-7d99504 .elementor-button:focus {
    color: #DAA520;
    background-color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-7d99504 .elementor-button:hover svg,
.elementor-23 .elementor-element.elementor-element-7d99504 .elementor-button:focus svg {
    fill: #DAA520;
}

.elementor-23 .elementor-element.elementor-element-e93fb7f:not(.elementor-motion-effects-element-type-background),
.elementor-23 .elementor-element.elementor-element-e93fb7f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-e93fb7f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-e93fb7f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-6bcd052 {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-6bcd052 img {
    width: 92%;
}

.elementor-23 .elementor-element.elementor-element-1a93990 .elementor-button .elementor-align-icon-right {
    margin-left: 17px;
}

.elementor-23 .elementor-element.elementor-element-1a93990 .elementor-button .elementor-align-icon-left {
    margin-right: 17px;
}

.elementor-23 .elementor-element.elementor-element-1a93990 .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-size: 11px;
    font-weight: 800;
    fill: #000000;
    color: #000000;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #000000;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 1px 1px 100px 0px rgba(255, 255, 255, 0.5);
}

.elementor-23 .elementor-element.elementor-element-1a93990 .elementor-button:hover,
.elementor-23 .elementor-element.elementor-element-1a93990 .elementor-button:focus {
    color: #DAA520;
    background-color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-1a93990 .elementor-button:hover svg,
.elementor-23 .elementor-element.elementor-element-1a93990 .elementor-button:focus svg {
    fill: #DAA520;
}

.elementor-23 .elementor-element.elementor-element-1a93990>.elementor-widget-container {
    margin: 0px 0px 23px 0px;
}

.elementor-23 .elementor-element.elementor-element-a05a749:not(.elementor-motion-effects-element-type-background),
.elementor-23 .elementor-element.elementor-element-a05a749>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-a05a749 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-a05a749>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-fb0771b .elementor-heading-title {
    color: var(--e-global-color-7dd53ce);
    font-family: "Poppins", Sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 14px;
}

.elementor-23 .elementor-element.elementor-element-fb0771b>.elementor-widget-container {
    border-style: none;
}

.elementor-23 .elementor-element.elementor-element-b2699e4 {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
}

.elementor-bc-flex-widget .elementor-23 .elementor-element.elementor-element-51135ce.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-51135ce.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-58e123c .elementor-button .elementor-align-icon-right {
    margin-left: 10px;
}

.elementor-23 .elementor-element.elementor-element-58e123c .elementor-button .elementor-align-icon-left {
    margin-right: 10px;
}

.elementor-23 .elementor-element.elementor-element-58e123c .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #DAA520;
    border-radius: 30px 30px 30px 30px;
}

.elementor-23 .elementor-element.elementor-element-58e123c .elementor-button:hover,
.elementor-23 .elementor-element.elementor-element-58e123c .elementor-button:focus {
    background-color: #BC0101;
}

.elementor-23 .elementor-element.elementor-element-f58f2a6:not(.elementor-motion-effects-element-type-background),
.elementor-23 .elementor-element.elementor-element-f58f2a6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-f58f2a6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-f58f2a6>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-7d89742 .elementor-cta__content {
    min-height: 330px;
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-7d89742 .elementor-icon-wrapper {
    margin-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-7d89742 .elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-7d89742 .elementor-view-stacked .elementor-icon svg {
    stroke: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-7d89742 .elementor-view-framed .elementor-icon,
.elementor-23 .elementor-element.elementor-element-7d89742 .elementor-view-default .elementor-icon {
    color: var(--e-global-color-837f3d9);
    border-color: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-7d89742 .elementor-view-framed .elementor-icon,
.elementor-23 .elementor-element.elementor-element-7d89742 .elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-7d89742 .elementor-icon {
    font-size: 43px;
}

.elementor-23 .elementor-element.elementor-element-7d89742 .elementor-cta__title {
    font-family: "Roboto", Sans-serif;
    font-size: 24px;
}

.elementor-23 .elementor-element.elementor-element-7d89742 .elementor-cta__title:not(:last-child) {
    margin-bottom: 4px;
}

.elementor-23 .elementor-element.elementor-element-7d89742 .elementor-cta__description {
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
}

.elementor-23 .elementor-element.elementor-element-7d89742 .elementor-cta__description:not(:last-child) {
    margin-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-7d89742 .elementor-cta__content-item {
    transition-duration: 502ms;
}

.elementor-23 .elementor-element.elementor-element-7d89742.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(2) {
    transition-delay: calc(502ms / 3);
}

.elementor-23 .elementor-element.elementor-element-7d89742.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(3) {
    transition-delay: calc((502ms / 3) * 2);
}

.elementor-23 .elementor-element.elementor-element-7d89742.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(4) {
    transition-delay: calc((502ms / 3) * 3);
}

.elementor-23 .elementor-element.elementor-element-7d89742 .elementor-cta:not(:hover) .elementor-cta__bg-overlay {
    background-color: #FF000000;
}

.elementor-23 .elementor-element.elementor-element-7d89742 .elementor-cta:hover .elementor-cta__bg-overlay {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-7d89742 .elementor-cta .elementor-cta__bg,
.elementor-23 .elementor-element.elementor-element-7d89742 .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-23 .elementor-element.elementor-element-9e6c869 .elementor-cta__content {
    min-height: 330px;
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-9e6c869 .elementor-icon-wrapper {
    margin-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-9e6c869 .elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-9e6c869 .elementor-view-stacked .elementor-icon svg {
    stroke: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-9e6c869 .elementor-view-framed .elementor-icon,
.elementor-23 .elementor-element.elementor-element-9e6c869 .elementor-view-default .elementor-icon {
    color: var(--e-global-color-837f3d9);
    border-color: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-9e6c869 .elementor-view-framed .elementor-icon,
.elementor-23 .elementor-element.elementor-element-9e6c869 .elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-9e6c869 .elementor-icon {
    font-size: 43px;
}

.elementor-23 .elementor-element.elementor-element-9e6c869 .elementor-cta__title {
    font-family: "Roboto", Sans-serif;
    font-size: 24px;
}

.elementor-23 .elementor-element.elementor-element-9e6c869 .elementor-cta__title:not(:last-child) {
    margin-bottom: 4px;
}

.elementor-23 .elementor-element.elementor-element-9e6c869 .elementor-cta__description {
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
}

.elementor-23 .elementor-element.elementor-element-9e6c869 .elementor-cta__description:not(:last-child) {
    margin-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-9e6c869 .elementor-cta__content-item {
    transition-duration: 502ms;
}

.elementor-23 .elementor-element.elementor-element-9e6c869.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(2) {
    transition-delay: calc(502ms / 3);
}

.elementor-23 .elementor-element.elementor-element-9e6c869.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(3) {
    transition-delay: calc((502ms / 3) * 2);
}

.elementor-23 .elementor-element.elementor-element-9e6c869.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(4) {
    transition-delay: calc((502ms / 3) * 3);
}

.elementor-23 .elementor-element.elementor-element-9e6c869 .elementor-cta:not(:hover) .elementor-cta__bg-overlay {
    background-color: #FF000000;
}

.elementor-23 .elementor-element.elementor-element-9e6c869 .elementor-cta:hover .elementor-cta__bg-overlay {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-9e6c869 .elementor-cta .elementor-cta__bg,
.elementor-23 .elementor-element.elementor-element-9e6c869 .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-23 .elementor-element.elementor-element-fd530e8 .elementor-cta__content {
    min-height: 330px;
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-fd530e8 .elementor-icon-wrapper {
    margin-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-fd530e8 .elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-fd530e8 .elementor-view-stacked .elementor-icon svg {
    stroke: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-fd530e8 .elementor-view-framed .elementor-icon,
.elementor-23 .elementor-element.elementor-element-fd530e8 .elementor-view-default .elementor-icon {
    color: var(--e-global-color-837f3d9);
    border-color: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-fd530e8 .elementor-view-framed .elementor-icon,
.elementor-23 .elementor-element.elementor-element-fd530e8 .elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-fd530e8 .elementor-icon {
    font-size: 43px;
}

.elementor-23 .elementor-element.elementor-element-fd530e8 .elementor-cta__title {
    font-family: "Roboto", Sans-serif;
    font-size: 24px;
}

.elementor-23 .elementor-element.elementor-element-fd530e8 .elementor-cta__title:not(:last-child) {
    margin-bottom: 4px;
}

.elementor-23 .elementor-element.elementor-element-fd530e8 .elementor-cta__description {
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
}

.elementor-23 .elementor-element.elementor-element-fd530e8 .elementor-cta__description:not(:last-child) {
    margin-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-fd530e8 .elementor-cta__content-item {
    transition-duration: 502ms;
}

.elementor-23 .elementor-element.elementor-element-fd530e8.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(2) {
    transition-delay: calc(502ms / 3);
}

.elementor-23 .elementor-element.elementor-element-fd530e8.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(3) {
    transition-delay: calc((502ms / 3) * 2);
}

.elementor-23 .elementor-element.elementor-element-fd530e8.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(4) {
    transition-delay: calc((502ms / 3) * 3);
}

.elementor-23 .elementor-element.elementor-element-fd530e8 .elementor-cta:not(:hover) .elementor-cta__bg-overlay {
    background-color: #FF000000;
}

.elementor-23 .elementor-element.elementor-element-fd530e8 .elementor-cta:hover .elementor-cta__bg-overlay {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-fd530e8 .elementor-cta .elementor-cta__bg,
.elementor-23 .elementor-element.elementor-element-fd530e8 .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-23 .elementor-element.elementor-element-8a9e1b5:not(.elementor-motion-effects-element-type-background),
.elementor-23 .elementor-element.elementor-element-8a9e1b5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-8a9e1b5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-8a9e1b5>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-034cf95 .elementor-cta__content {
    min-height: 330px;
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-034cf95 .elementor-icon-wrapper {
    margin-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-034cf95 .elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-034cf95 .elementor-view-stacked .elementor-icon svg {
    stroke: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-034cf95 .elementor-view-framed .elementor-icon,
.elementor-23 .elementor-element.elementor-element-034cf95 .elementor-view-default .elementor-icon {
    color: var(--e-global-color-837f3d9);
    border-color: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-034cf95 .elementor-view-framed .elementor-icon,
.elementor-23 .elementor-element.elementor-element-034cf95 .elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-034cf95 .elementor-icon {
    font-size: 43px;
}

.elementor-23 .elementor-element.elementor-element-034cf95 .elementor-cta__title {
    font-family: "Roboto", Sans-serif;
    font-size: 24px;
}

.elementor-23 .elementor-element.elementor-element-034cf95 .elementor-cta__title:not(:last-child) {
    margin-bottom: 4px;
}

.elementor-23 .elementor-element.elementor-element-034cf95 .elementor-cta__description {
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
}

.elementor-23 .elementor-element.elementor-element-034cf95 .elementor-cta__description:not(:last-child) {
    margin-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-034cf95 .elementor-cta__content-item {
    transition-duration: 502ms;
}

.elementor-23 .elementor-element.elementor-element-034cf95.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(2) {
    transition-delay: calc(502ms / 3);
}

.elementor-23 .elementor-element.elementor-element-034cf95.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(3) {
    transition-delay: calc((502ms / 3) * 2);
}

.elementor-23 .elementor-element.elementor-element-034cf95.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(4) {
    transition-delay: calc((502ms / 3) * 3);
}

.elementor-23 .elementor-element.elementor-element-034cf95 .elementor-cta:not(:hover) .elementor-cta__bg-overlay {
    background-color: #FF000000;
}

.elementor-23 .elementor-element.elementor-element-034cf95 .elementor-cta:hover .elementor-cta__bg-overlay {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-034cf95 .elementor-cta .elementor-cta__bg,
.elementor-23 .elementor-element.elementor-element-034cf95 .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-23 .elementor-element.elementor-element-b7aa90a .elementor-cta__content {
    min-height: 330px;
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-b7aa90a .elementor-icon-wrapper {
    margin-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-b7aa90a .elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-b7aa90a .elementor-view-stacked .elementor-icon svg {
    stroke: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-b7aa90a .elementor-view-framed .elementor-icon,
.elementor-23 .elementor-element.elementor-element-b7aa90a .elementor-view-default .elementor-icon {
    color: var(--e-global-color-837f3d9);
    border-color: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-b7aa90a .elementor-view-framed .elementor-icon,
.elementor-23 .elementor-element.elementor-element-b7aa90a .elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-b7aa90a .elementor-icon {
    font-size: 43px;
}

.elementor-23 .elementor-element.elementor-element-b7aa90a .elementor-cta__title {
    font-family: "Roboto", Sans-serif;
    font-size: 24px;
}

.elementor-23 .elementor-element.elementor-element-b7aa90a .elementor-cta__title:not(:last-child) {
    margin-bottom: 4px;
}

.elementor-23 .elementor-element.elementor-element-b7aa90a .elementor-cta__description {
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
}

.elementor-23 .elementor-element.elementor-element-b7aa90a .elementor-cta__description:not(:last-child) {
    margin-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-b7aa90a .elementor-cta__content-item {
    transition-duration: 502ms;
}

.elementor-23 .elementor-element.elementor-element-b7aa90a.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(2) {
    transition-delay: calc(502ms / 3);
}

.elementor-23 .elementor-element.elementor-element-b7aa90a.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(3) {
    transition-delay: calc((502ms / 3) * 2);
}

.elementor-23 .elementor-element.elementor-element-b7aa90a.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(4) {
    transition-delay: calc((502ms / 3) * 3);
}

.elementor-23 .elementor-element.elementor-element-b7aa90a .elementor-cta:not(:hover) .elementor-cta__bg-overlay {
    background-color: #FF000000;
}

.elementor-23 .elementor-element.elementor-element-b7aa90a .elementor-cta:hover .elementor-cta__bg-overlay {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-b7aa90a .elementor-cta .elementor-cta__bg,
.elementor-23 .elementor-element.elementor-element-b7aa90a .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-23 .elementor-element.elementor-element-b0ec199 .elementor-cta__content {
    min-height: 330px;
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-b0ec199 .elementor-icon-wrapper {
    margin-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-b0ec199 .elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-b0ec199 .elementor-view-stacked .elementor-icon svg {
    stroke: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-b0ec199 .elementor-view-framed .elementor-icon,
.elementor-23 .elementor-element.elementor-element-b0ec199 .elementor-view-default .elementor-icon {
    color: var(--e-global-color-837f3d9);
    border-color: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-b0ec199 .elementor-view-framed .elementor-icon,
.elementor-23 .elementor-element.elementor-element-b0ec199 .elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-837f3d9);
}

.elementor-23 .elementor-element.elementor-element-b0ec199 .elementor-icon {
    font-size: 43px;
}

.elementor-23 .elementor-element.elementor-element-b0ec199 .elementor-cta__title {
    font-family: "Roboto", Sans-serif;
    font-size: 24px;
}

.elementor-23 .elementor-element.elementor-element-b0ec199 .elementor-cta__title:not(:last-child) {
    margin-bottom: 4px;
}

.elementor-23 .elementor-element.elementor-element-b0ec199 .elementor-cta__description {
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
}

.elementor-23 .elementor-element.elementor-element-b0ec199 .elementor-cta__description:not(:last-child) {
    margin-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-b0ec199 .elementor-cta__content-item {
    transition-duration: 502ms;
}

.elementor-23 .elementor-element.elementor-element-b0ec199.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(2) {
    transition-delay: calc(502ms / 3);
}

.elementor-23 .elementor-element.elementor-element-b0ec199.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(3) {
    transition-delay: calc((502ms / 3) * 2);
}

.elementor-23 .elementor-element.elementor-element-b0ec199.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(4) {
    transition-delay: calc((502ms / 3) * 3);
}

.elementor-23 .elementor-element.elementor-element-b0ec199 .elementor-cta:not(:hover) .elementor-cta__bg-overlay {
    background-color: #FF000000;
}

.elementor-23 .elementor-element.elementor-element-b0ec199 .elementor-cta:hover .elementor-cta__bg-overlay {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-b0ec199 .elementor-cta .elementor-cta__bg,
.elementor-23 .elementor-element.elementor-element-b0ec199 .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-23 .elementor-element.elementor-element-a555e85>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-a555e85:not(.elementor-motion-effects-element-type-background),
.elementor-23 .elementor-element.elementor-element-a555e85>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-a555e85 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-a555e85>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-2e77d23 {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-2e77d23 .elementor-heading-title {
    color: var(--e-global-color-7dd53ce);
    font-family: "Poppins", Sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 14px;
}

.elementor-23 .elementor-element.elementor-element-2e77d23>.elementor-widget-container {
    border-style: none;
}

.elementor-23 .elementor-element.elementor-element-6a1a3da {
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
}

.elementor-23 .elementor-element.elementor-element-b8c3df7:not(.elementor-motion-effects-element-type-background),
.elementor-23 .elementor-element.elementor-element-b8c3df7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-b8c3df7 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-b8c3df7>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-d9945c7 .elementor-main-swiper {
    height: 322px;
}

.elementor-23 .elementor-element.elementor-element-d9945c7.elementor-skin-slideshow .elementor-main-swiper {
    margin-bottom: 10px;
}

.elementor-23 .elementor-element.elementor-element-d9945c7 .elementor-swiper-button {
    font-size: 20px;
}

.elementor-23 .elementor-element.elementor-element-c6bfb05:not(.elementor-motion-effects-element-type-background),
.elementor-23 .elementor-element.elementor-element-c6bfb05>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-c6bfb05 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-c6bfb05>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-cfbe223 .elementor-heading-title {
    color: var(--e-global-color-7dd53ce);
    font-family: "Poppins", Sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 14px;
}

.elementor-23 .elementor-element.elementor-element-cfbe223>.elementor-widget-container {
    border-style: none;
}

.elementor-23 .elementor-element.elementor-element-9171d29 {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
}

.elementor-bc-flex-widget .elementor-23 .elementor-element.elementor-element-3a8278c.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-3a8278c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-d78d86f .elementor-button .elementor-align-icon-right {
    margin-left: 10px;
}

.elementor-23 .elementor-element.elementor-element-d78d86f .elementor-button .elementor-align-icon-left {
    margin-right: 10px;
}

.elementor-23 .elementor-element.elementor-element-d78d86f .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: var(--e-global-color-837f3d9);
    border-radius: 30px 30px 30px 30px;
}

.elementor-23 .elementor-element.elementor-element-d78d86f .elementor-button:hover,
.elementor-23 .elementor-element.elementor-element-d78d86f .elementor-button:focus {
    background-color: #BC0101;
}

.elementor-23 .elementor-element.elementor-element-d9de7dc:not(.elementor-motion-effects-element-type-background),
.elementor-23 .elementor-element.elementor-element-d9de7dc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-d9de7dc {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-d9de7dc>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-a669490 .elementor-posts-container .elementor-post__thumbnail {
    padding-bottom: calc(0.55 * 100%);
}

.elementor-23 .elementor-element.elementor-element-a669490:after {
    content: "0.55";
}

.elementor-23 .elementor-element.elementor-element-a669490 .elementor-post__meta-data span+span:before {
    content: "•";
}

.elementor-23 .elementor-element.elementor-element-a669490 {
    --grid-column-gap: 10px;
    --grid-row-gap: 0px;
}

.elementor-23 .elementor-element.elementor-element-a669490 .elementor-post__card {
    background-color: #000000;
    border-color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-a669490 .elementor-post__card .elementor-post__meta-data {
    border-top-color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-a669490 .elementor-post__text {
    margin-top: 0px;
}

.elementor-23 .elementor-element.elementor-element-a669490 .elementor-post__title,
.elementor-23 .elementor-element.elementor-element-a669490 .elementor-post__title a {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
}

.elementor-23 .elementor-element.elementor-element-a669490 .elementor-post__meta-data {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.elementor-23 .elementor-element.elementor-element-9fd2db9:not(.elementor-motion-effects-element-type-background),
.elementor-23 .elementor-element.elementor-element-9fd2db9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-9fd2db9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-9fd2db9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-39f4228 {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-39f4228 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
}

.elementor-23 .elementor-element.elementor-element-ed4406d {
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
}

.elementor-23 .elementor-element.elementor-element-ac06560 .elementor-field-group {
    padding-right: calc(12px/2);
    padding-left: calc(12px/2);
    margin-bottom: 7px;
}

.elementor-23 .elementor-element.elementor-element-ac06560 .elementor-form-fields-wrapper {
    margin-left: calc(-12px/2);
    margin-right: calc(-12px/2);
    margin-bottom: -7px;
}

.elementor-23 .elementor-element.elementor-element-ac06560 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-23 .elementor-element.elementor-element-ac06560 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-23 .elementor-element.elementor-element-ac06560 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-23 .elementor-element.elementor-element-ac06560 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-23 .elementor-element.elementor-element-ac06560 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-ac06560 .elementor-field-group>label,
.elementor-23 .elementor-element.elementor-element-ac06560 .elementor-field-subgroup label {
    color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-ac06560 .elementor-field-group>label {
    font-family: "Poppins", Sans-serif;
}

.elementor-23 .elementor-element.elementor-element-ac06560 .elementor-field-type-html {
    padding-bottom: 0px;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
}

.elementor-23 .elementor-element.elementor-element-ac06560 .elementor-field-group .elementor-field {
    color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-ac06560 .elementor-field-group .elementor-field,
.elementor-23 .elementor-element.elementor-element-ac06560 .elementor-field-subgroup label {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.elementor-23 .elementor-element.elementor-element-ac06560 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #FFFFFF00;
    border-color: #8C8C8C;
    border-radius: 11px 11px 11px 11px;
}

.elementor-23 .elementor-element.elementor-element-ac06560 .elementor-field-group .elementor-select-wrapper select {
    background-color: #FFFFFF00;
    border-color: #8C8C8C;
    border-radius: 11px 11px 11px 11px;
}

.elementor-23 .elementor-element.elementor-element-ac06560 .elementor-field-group .elementor-select-wrapper::before {
    color: #8C8C8C;
}

.elementor-23 .elementor-element.elementor-element-ac06560 .elementor-button {
    font-family: "Poppins", Sans-serif;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 14px 14px 14px 14px;
}

.elementor-23 .elementor-element.elementor-element-ac06560 .e-form__buttons__wrapper__button-next {
    background-color: #000000;
    color: #ffffff;
    border-color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-ac06560 .elementor-button[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    border-color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-ac06560 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-23 .elementor-element.elementor-element-ac06560 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-23 .elementor-element.elementor-element-ac06560 .e-form__buttons__wrapper__button-next:hover {
    background-color: #FF0000;
    color: #FFFFFF;
    border-color: #980000;
}

.elementor-23 .elementor-element.elementor-element-ac06560 .elementor-button[type="submit"]:hover {
    background-color: #FF0000;
    color: #FFFFFF;
    border-color: #980000;
}

.elementor-23 .elementor-element.elementor-element-ac06560 .elementor-button[type="submit"]:hover svg * {
    fill: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-ac06560 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-23 .elementor-element.elementor-element-ac06560 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-23 .elementor-element.elementor-element-ac06560>.elementor-widget-container {
    margin: 13px 13px 13px 13px;
}

.elementor-23 .elementor-element.elementor-element-5c43d25>.elementor-container {
    min-height: 274px;
}

.elementor-23 .elementor-element.elementor-element-5c43d25:not(.elementor-motion-effects-element-type-background),
.elementor-23 .elementor-element.elementor-element-5c43d25>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-23 .elementor-element.elementor-element-5c43d25 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: -50px;
}

.elementor-23 .elementor-element.elementor-element-5c43d25>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-0c3f08c {
    --e-image-carousel-slides-to-show: 5;
}

.elementor-23 .elementor-element.elementor-element-0c3f08c .swiper-wrapper {
    display: flex;
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-0c3f08c .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image {
    border-style: none;
}

.elementor-23 .elementor-element.elementor-element-0c3f08c>.elementor-widget-container {
    margin: 42px 0px 0px 0px;
}

@media(min-width:768px) {
    .elementor-23 .elementor-element.elementor-element-a5867ff {
        width: 51%;
    }

    .elementor-23 .elementor-element.elementor-element-75c365c {
        width: 4.333%;
    }

    .elementor-23 .elementor-element.elementor-element-09f5aff {
        width: 44%;
    }

    .elementor-23 .elementor-element.elementor-element-a485c4e {
        width: 100%;
    }

    .elementor-23 .elementor-element.elementor-element-dafcb23 {
        width: 69.939%;
    }

    .elementor-23 .elementor-element.elementor-element-51135ce {
        width: 30.013%;
    }

    .elementor-23 .elementor-element.elementor-element-121766b {
        width: 69.939%;
    }

    .elementor-23 .elementor-element.elementor-element-3a8278c {
        width: 29.963%;
    }
}

@media(max-width:1024px) {
    .elementor-23 .elementor-element.elementor-element-0c90944.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-23 .elementor-element.elementor-element-1d60ba8 img {
        width: 39%;
    }

    .elementor-23 .elementor-element.elementor-element-3a8551e .elementor-heading-title {
        font-size: 30px;
        line-height: 1.3em;
        letter-spacing: 0.2px;
    }

    .elementor-23 .elementor-element.elementor-element-3a8551e>.elementor-widget-container {
        padding: 2px 2px 2px 2px;
    }

    .elementor-23 .elementor-element.elementor-element-3a8551e {
        width: var(--container-widget-width, 542px);
        max-width: 542px;
        --container-widget-width: 542px;
        --container-widget-flex-grow: 0;
        align-self: center;
    }

    .elementor-23 .elementor-element.elementor-element-6518eb5>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-23 .elementor-element.elementor-element-6518eb5 {
        width: var(--container-widget-width, 532px);
        max-width: 532px;
        --container-widget-width: 532px;
        --container-widget-flex-grow: 0;
    }

    .elementor-23 .elementor-element.elementor-element-8ae7691 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-23 .elementor-element.elementor-element-f0e87c5 .elementor-main-swiper {
        height: 400px;
    }

    .elementor-23 .elementor-element.elementor-element-f0e87c5.elementor-skin-slideshow .elementor-main-swiper {
        margin-bottom: 10px;
    }

    .elementor-bc-flex-widget .elementor-23 .elementor-element.elementor-element-bce0bdf.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-23 .elementor-element.elementor-element-bce0bdf.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-23 .elementor-element.elementor-element-bce0bdf.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-23 .elementor-element.elementor-element-8100b1a {
        width: var(--container-widget-width, 494px);
        max-width: 494px;
        --container-widget-width: 494px;
        --container-widget-flex-grow: 0;
        align-self: center;
    }

    .elementor-23 .elementor-element.elementor-element-a05a749>.elementor-container {
        max-width: 642px;
    }

    .elementor-23 .elementor-element.elementor-element-a555e85>.elementor-container {
        max-width: 653px;
    }

    .elementor-23 .elementor-element.elementor-element-b8c3df7>.elementor-container {
        max-width: 676px;
    }

    .elementor-23 .elementor-element.elementor-element-d9945c7 .elementor-main-swiper {
        height: 322px;
        width: 652px;
    }

    .elementor-23 .elementor-element.elementor-element-d9945c7.elementor-skin-slideshow .elementor-main-swiper {
        margin-bottom: 10px;
    }

    .elementor-23 .elementor-element.elementor-element-c6bfb05>.elementor-container {
        max-width: 653px;
    }

    .elementor-23 .elementor-element.elementor-element-d9de7dc>.elementor-container {
        max-width: 676px;
    }

    .elementor-23 .elementor-element.elementor-element-a669490 .elementor-posts-container .elementor-post__thumbnail {
        padding-bottom: calc(0.76 * 100%);
    }

    .elementor-23 .elementor-element.elementor-element-a669490:after {
        content: "0.76";
    }

    .elementor-23 .elementor-element.elementor-element-a669490 {
        --grid-column-gap: 34px;
    }

    .elementor-23 .elementor-element.elementor-element-a669490 .elementor-post__title,
    .elementor-23 .elementor-element.elementor-element-a669490 .elementor-post__title a {
        font-size: 10px;
    }

    .elementor-23 .elementor-element.elementor-element-9fd2db9>.elementor-container {
        max-width: 645px;
    }

    .elementor-23 .elementor-element.elementor-element-5c43d25 {
        margin-top: 0px;
        margin-bottom: -50px;
    }
}

@media(max-width:767px) {
    .elementor-23 .elementor-element.elementor-element-d9f2c96 {
        margin-top: -33px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-23 .elementor-element.elementor-element-1d60ba8 img {
        width: 50%;
    }

    .elementor-23 .elementor-element.elementor-element-1d60ba8>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }

    .elementor-23 .elementor-element.elementor-element-3a8551e .elementor-heading-title {
        font-size: 29px;
    }

    .elementor-23 .elementor-element.elementor-element-3a8551e>.elementor-widget-container {
        margin: 0px 0px 25px 0px;
    }

    .elementor-23 .elementor-element.elementor-element-6518eb5 {
        font-size: 12px;
    }

    .elementor-23 .elementor-element.elementor-element-6518eb5>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-23 .elementor-element.elementor-element-a5867ff {
        width: 99%;
    }

    .elementor-bc-flex-widget .elementor-23 .elementor-element.elementor-element-a5867ff.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-23 .elementor-element.elementor-element-a5867ff.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-23 .elementor-element.elementor-element-607156a .elementor-button {
        font-size: 17px;
    }

    .elementor-23 .elementor-element.elementor-element-75c365c {
        width: 10%;
    }

    .elementor-bc-flex-widget .elementor-23 .elementor-element.elementor-element-75c365c.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-23 .elementor-element.elementor-element-75c365c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-23 .elementor-element.elementor-element-75c365c.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }

    .elementor-23 .elementor-element.elementor-element-75c365c>.elementor-element-populated {
        margin: 0px 0px 0px 14px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 14px;
    }

    .elementor-23 .elementor-element.elementor-element-fff777d .elementor-icon-wrapper {
        text-align: right;
    }

    .elementor-23 .elementor-element.elementor-element-fff777d .elementor-icon {
        font-size: 23px;
    }

    .elementor-23 .elementor-element.elementor-element-09f5aff {
        width: 90%;
    }

    .elementor-23 .elementor-element.elementor-element-89d28e9 {
        text-align: center;
        font-size: 15px;
    }

    .elementor-23 .elementor-element.elementor-element-4fb82c2 .elementor-heading-title {
        font-size: 20px;
    }

    .elementor-23 .elementor-element.elementor-element-f0e87c5 .elementor-main-swiper {
        height: 267px;
        width: 309px;
    }

    .elementor-23 .elementor-element.elementor-element-f0e87c5.elementor-skin-slideshow .elementor-main-swiper {
        margin-bottom: 10px;
    }

    .elementor-23 .elementor-element.elementor-element-ce3fdd8>.elementor-widget-container {
        border-width: 1px 1px 0px 1px;
        border-radius: -3px -3px -3px -3px;
    }

    .elementor-23 .elementor-element.elementor-element-7d99504 .elementor-button {
        font-size: 9px;
    }

    .elementor-23 .elementor-element.elementor-element-6bcd052 img {
        width: 100%;
    }

    .elementor-23 .elementor-element.elementor-element-1a93990 .elementor-button {
        font-size: 11px;
    }

    .elementor-23 .elementor-element.elementor-element-fb0771b {
        text-align: center;
    }

    .elementor-23 .elementor-element.elementor-element-fb0771b .elementor-heading-title {
        font-size: 34px;
    }

    .elementor-23 .elementor-element.elementor-element-b2699e4 {
        text-align: center;
    }

    .elementor-23 .elementor-element.elementor-element-2e77d23 {
        text-align: center;
    }

    .elementor-23 .elementor-element.elementor-element-2e77d23 .elementor-heading-title {
        font-size: 34px;
    }

    .elementor-23 .elementor-element.elementor-element-6a1a3da {
        text-align: center;
        font-size: 16px;
    }

    .elementor-23 .elementor-element.elementor-element-d9945c7 .elementor-main-swiper {
        height: 311px;
        width: 302px;
    }

    .elementor-23 .elementor-element.elementor-element-d9945c7.elementor-skin-slideshow .elementor-main-swiper {
        margin-bottom: 10px;
    }

    .elementor-23 .elementor-element.elementor-element-cfbe223 {
        text-align: center;
    }

    .elementor-23 .elementor-element.elementor-element-cfbe223 .elementor-heading-title {
        font-size: 34px;
    }

    .elementor-23 .elementor-element.elementor-element-9171d29 {
        text-align: center;
        font-size: 16px;
    }

    .elementor-23 .elementor-element.elementor-element-a669490 .elementor-posts-container .elementor-post__thumbnail {
        padding-bottom: calc(0.5 * 100%);
    }

    .elementor-23 .elementor-element.elementor-element-a669490:after {
        content: "0.5";
    }

    .elementor-23 .elementor-element.elementor-element-5c43d25 {
        margin-top: 0px;
        margin-bottom: -50px;
    }
}